<div class="row">
    <div class="cal-md-8 offset-2">
        <h2>{{title}}</h2>
        <form #myForm="ngForm" [formGroup]="bookForm" class="form-container" (ngSubmit)="onSubmit()" >

            <mat-form-field>
                <input matInput type="text" placeholder="Select Category" formControlName="categoryBy" [matAutocomplete]="auto">
            

                <mat-error *ngIf="category.invalid">
               
                    <div *ngIf="category.hasError('required')">
                        Bu alan boş bırakılamaz
                    </div>
    
                </mat-error>


                <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayCategoryName">

                    <mat-option *ngFor="let item of categories" [value]="item">{{item.name}}</mat-option>

                </mat-autocomplete>

            </mat-form-field>

            <div>
                <input formControlName="pictureFile" type="file" (change)="upload($event)"/>
                
                <div *ngIf="pictureFile.invalid && myForm.submitted">

                    <span *ngIf="pictureFile.hasError('required')">
                        Please choose a picture
                    </span>
                        
                </div>

            </div>

            <mat-form-field>
                <input autocomplete="off"  matInput formControlName="title" placeholder="Book Title" />
            
            <mat-error *ngIf="this.bookForm.controls.title.invalid">
               
                <div *ngIf="this.bookForm.controls.title.hasError('required')">
                    Bu alan boş bırakılamaz
                </div>

            </mat-error>

            </mat-form-field>

            <mat-form-field>
                <input autocomplete="off"   matInput formControlName="author" placeholder="Author" />
        
                <mat-error *ngIf="this.bookForm.controls.author.invalid">
               
                    <div *ngIf="this.bookForm.controls.author.hasError('required')">
                        Bu alan boş bırakılamaz
                    </div>
    
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <input autocomplete="off"   matInput type="number" formControlName="price" placeholder="Price" />

                <mat-error *ngIf="this.bookForm.controls.price.invalid">
               
                    <div *ngIf="this.bookForm.controls.price.hasError('required')">
                        Bu alan boş bırakılamaz
                    </div>
    
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <input autocomplete="off"   matInput type="number" formControlName="stock" placeholder="Stock" />

                <mat-error *ngIf="this.bookForm.controls.stock.invalid">
               
                    <div *ngIf="this.bookForm.controls.stock.hasError('required')">
                        Bu alan boş bırakılamaz
                    </div>
    
                </mat-error>

            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="mt-2">
                {{btnText}}
            </button>

        </form>
    </div>
</div> 